<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit Report</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="/images/CROWN.png"> 
</head>
<body>
  <div class="header">
    <img src="/images/HD.jpg" alt="Logo" class="logo">
    <h1>Submit Report</h1>
  </div>
  <div class="container">
    <form action="/submit" method="POST">
      <!-- Form fields for report submission -->
      <input type="text" name="name" placeholder="Name" required>
      <input type="text" name="surname" placeholder="Surname" required>
      <input type="text" name="team" placeholder="Team" required>
      <input type="text" name="branch" placeholder="Branch" required>
      <input type="number" name="appointments" placeholder="Appointments" required>
      <input type="number" name="presentations" placeholder="Presentations" required>
      <input type="number" name="closedCases" placeholder="Closed Cases" required>
      <input type="number" name="callBacks" placeholder="Call Backs" required>
      <input type="number" name="referrals" placeholder="Referrals" required>
      <button type="submit">Submit Report</button>
    </form>
    <a href="/" class="button">Home</a>
  <button class="button" onclick="window.history.back()">Back</button>
</div>
  </div>
</body>
</html>
